/*
 * Copyright 2023-2024 Logan Magee
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

mat-divider {
    margin-top: 2rem;
}

mat-form-field {
    width: 50em;
}

textarea {
    resize: none;
}

.grid-base {
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    padding-top: 1rem;
}

.grid-forms {
    @extend .grid-base;
    grid-template-columns: min-content min-content;
}

.grid-cards {
    @extend .grid-base;
    grid-template-columns: repeat(3, 1fr);
}

.section-header {
    padding-top: 2rem;
}
