<!--
Copyright 2023 Logan Magee

SPDX-License-Identifier: AGPL-3.0-only
-->

<h2 class="section-header">Badge</h2>

<img
    src="https://accrescent.app/badges/get-it-on.png"
    alt="Get it on Accrescent"
    width="323"
    height="125">

<p>Use the following HTML badge to share your app:</p>
<mat-form-field>
<textarea rows="4" readonly matInput>
<a href="https://accrescent.app/app/{{ app?.id }}">
    <img alt="Get it on Accrescent" src="https://accrescent.app/badges/get-it-on.png" height="80">
</a>
</textarea>
</mat-form-field>

<mat-divider/>

<div class="grid-forms">
    <app-new-update-editor (formSubmit)="createUpdate($event)">
        <mat-progress-bar [value]="uploadProgress"/>
    </app-new-update-editor>

    <app-new-edit-editor (formSubmit)="createEdit($event)"/>
</div>

<mat-divider/>

<h2 class="section-header">Updates</h2>
<mat-chip-listbox multiple>
    <mat-chip-option
        [selected]="showRejectedUpdates"
        (selectionChange)="showRejectedUpdates = $event.selected"
        color="accent">
        Rejected
    </mat-chip-option>
    <mat-chip-option
        [selected]="showPublishedUpdates"
        (selectionChange)="showPublishedUpdates = $event.selected"
        color="accent">
        Published
    </mat-chip-option>
</mat-chip-listbox>
<div class="grid-cards">
    <app-update-card
        *ngFor="let update of updates | updateFilter : showRejectedUpdates : showPublishedUpdates"
        [update]="update"
        (delete)="deleteUpdate($event)"
        (submitForReview)="submitUpdate($event)"/>
    <p *ngIf="updates.length === 0">No updates</p>
</div>

<mat-divider/>

<h2 class="section-header">Edits</h2>
<mat-chip-listbox multiple>
    <mat-chip-option
        [selected]="showRejectedEdits"
        (selectionChange)="showRejectedEdits = $event.selected"
        color="accent">
        Rejected
    </mat-chip-option>
    <mat-chip-option
        [selected]="showPublishedEdits"
        (selectionChange)="showPublishedEdits = $event.selected"
        color="accent">
        Published
    </mat-chip-option>
</mat-chip-listbox>
<div class="grid-cards">
    <app-edit-card
        *ngFor="let edit of edits | editFilter : showRejectedEdits : showPublishedEdits"
        [edit]="edit"
        (delete)="deleteEdit($event)"
        (submitForReview)="submitEdit($event)"/>
    <p *ngIf="edits.length === 0">No edits</p>
</div>
