<!--
Copyright 2023 Logan Magee

SPDX-License-Identifier: AGPL-3.0-only
-->

<mat-grid-list cols="3" rowHeight="3:2">
    <mat-grid-tile *ngFor="let app of apps">
        <app-app-card [app]="app"/>
    </mat-grid-tile>
</mat-grid-list>
<div class="grid">
    <mat-card *ngFor="let app of apps">
        <mat-card-header>
            <mat-card-title>{{ app.label }}</mat-card-title>
            <mat-card-subtitle>{{ app.id }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p><strong>Version</strong>: {{ app.version_name }} ({{ app.version_code }})</p>
        </mat-card-content>
    </mat-card>
</div>
