<mat-toolbar id="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span id="logo">Accrescent Developer Console</span>

    <span class="spacer"></span>

    <button mat-button (click)="logOut()" color="warn">Log out</button>
</mat-toolbar>

<mat-sidenav-container id="main">
    <mat-sidenav #sidenav mode="side" opened="true">
        <mat-nav-list>
            <a mat-list-item routerLink="dashboard">Dashboard</a>
            <a mat-list-item routerLink="apps">My apps</a>
        </mat-nav-list>
    </mat-sidenav>

    <router-outlet></router-outlet>
</mat-sidenav-container>
