/*
 * Copyright 2023 Logan Magee
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

#toolbar {
    height: 10vh;
}

#main {
    min-height: 90vh;
}

mat-sidenav-content {
    padding: 2rem;
}

#logo {
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spacer {
    flex: auto;
}
