/*
 * Copyright 2023 Logan Magee
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.btn-add {
    margin-bottom: 3em;
}

.btn-delete {
    margin-left: 1em;
}

.center {
    text-align: center;
}

.text-field {
    min-width: 30em;
}
