.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.btn-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
}

.btn-l {
    margin-right: 8px;
}
