/*
 * Copyright 2023 Logan Magee
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

input[type="file"] {
    display: none;
}

mat-card {
    background-color: #1f1f1f;
    border-radius: 32px;
    margin: 1em;
}

mat-card-header {
    padding: 32px 32px 0px 32px;
}

mat-card-content, mat-card-content:last-child {
    padding: 16px 32px 32px 32px;
}