.form-container-center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container-bg {
    background-color: #1f1c1f;
    border-radius: 24px;
    padding: 32px;
}
