<!--
Copyright 2023-2024 Logan Magee

SPDX-License-Identifier: AGPL-3.0-only
-->

<div class="center">
    <div class="container">
        <img
            src="assets/accrescent.svg"
            alt="Accrescent logo"
            width="140"
            height="140"
            class="logo">
        <h2>Log in to Accrescent</h2>
        <div class="spacer"></div>
        <a href="/auth/github/login" mat-flat-button class="btn">
            <div class="row">
                <img src="assets/invertocat.svg" alt="Invertocat" height="30" width="30" class="icon">
                <span class="btn-text">Log in with GitHub</span>
            </div>
        </a>
    </div>
</div>
<footer>
    Parcelo v0.7.0
</footer>
