# Copyright 2023 Logan Magee
#
# SPDX-License-Identifier: AGPL-3.0-only

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.ts]
quote_type = single
