# Copyright 2024 Logan Magee
#
# SPDX-License-Identifier: AGPL-3.0-only

[versions]
apkanalyzer = "31.5.1"
apksig = "8.5.1"
dokka = "1.9.20"
exposed = "0.52.0"
flyway = "10.16.0"
fourkoma = "1.2.0"
github = "1.323"
jackson = "2.17.2"
jobrunr = "7.2.2"
koin = "3.5.6"
kotlin = "2.0.0"
ksp = "2.0.0-1.0.24"
ktor = "2.3.12"
logback = "1.5.6"
protobuf = "4.27.2"
protobuf-plugin = "0.9.4"
s3 = "1.3.29"
sqlite = "3.46.1.0"

[libraries]
apkanalyzer = { module = "com.android.tools.apkparser:apkanalyzer", version.ref = "apkanalyzer" }
apksig = { module = "com.android.tools.build:apksig", version.ref = "apksig" }
exposed-core = { module = "org.jetbrains.exposed:exposed-core", version.ref = "exposed" }
exposed-dao = { module = "org.jetbrains.exposed:exposed-dao", version.ref = "exposed" }
exposed-jdbc = { module = "org.jetbrains.exposed:exposed-jdbc", version.ref = "exposed" }
flyway = { module = "org.flywaydb:flyway-core", version.ref = "flyway" }
fourkoma = { module = "cc.ekblad:4koma", version.ref = "fourkoma" }
github = { module = "org.kohsuke:github-api", version.ref = "github" }
jackson-kotlin = { module = "com.fasterxml.jackson.module:jackson-module-kotlin", version.ref = "jackson" }
jackson-xml = { module = "com.fasterxml.jackson.dataformat:jackson-dataformat-xml", version.ref = "jackson" }
jobrunr = { module = "org.jobrunr:jobrunr", version.ref = "jobrunr" }
koin-ktor = { module = "io.insert-koin:koin-ktor", version.ref = "koin" }
koin-logger = { module = "io.insert-koin:koin-logger-slf4j", version.ref = "koin" }
kotlin-test = { module = "org.jetbrains.kotlin:kotlin-test-junit", version.ref = "kotlin" }
ktor-client = { module = "io.ktor:ktor-client-apache5", version.ref = "ktor" }
ktor-serialization = { module = "io.ktor:ktor-serialization-kotlinx-json", version.ref = "ktor" }
ktor-server-auth = { module = "io.ktor:ktor-server-auth", version.ref = "ktor" }
ktor-server-core = { module = "io.ktor:ktor-server-core", version.ref = "ktor" }
ktor-server-negotiation = { module = "io.ktor:ktor-server-content-negotiation", version.ref = "ktor" }
ktor-server-netty = { module = "io.ktor:ktor-server-netty", version.ref = "ktor" }
ktor-server-resources = { module = "io.ktor:ktor-server-resources", version.ref = "ktor" }
ktor-server-tests = { module = "io.ktor:ktor-server-tests", version.ref = "ktor" }
logback = { module = "ch.qos.logback:logback-classic", version.ref = "logback" }
protobuf = { module = "com.google.protobuf:protobuf-java", version.ref = "protobuf" }
s3 = { module = "aws.sdk.kotlin:s3", version.ref = "s3" }
sqlite = { module = "org.xerial:sqlite-jdbc", version.ref = "sqlite" }

[plugins]
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
java-library = { id = "java-library" }
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
kotlin-serialization = { id = "org.jetbrains.kotlin.plugin.serialization", version.ref = "kotlin" }
ksp = { id = "com.google.devtools.ksp", version.ref = "ksp" }
ktor = { id = "io.ktor.plugin", version.ref = "ktor" }
protobuf = { id = "com.google.protobuf", version.ref = "protobuf-plugin" }
