# Copyright 2024 Logan Magee
#
# SPDX-License-Identifier: AGPL-3.0-only

[versions]
kotlin = "2.2.20"
quarkus = "3.29.0"

[libraries]
quarkus-bom = { module = "io.quarkus:quarkus-bom", version.ref = "quarkus" }
quarkus-kotlin = { module = "io.quarkus:quarkus-kotlin" }

[plugins]
kotlin-allopen = { id = "org.jetbrains.kotlin.plugin.allopen", version.ref = "kotlin" }
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
quarkus = { id = "io.quarkus", version.ref = "quarkus" }
