<!--
Copyright 2023-2024 Logan Magee

SPDX-License-Identifier: AGPL-3.0-only
-->

<div class="center">
    @if (loading) {
        <div class="container">
            <mat-spinner></mat-spinner>
            <div class="spacer"></div>
            <h1>One moment...</h1>
        </div>
    } @else {
        <div class="container">
            <h1>Registration not permitted</h1>

            <p>Accrescent developer registration is currently invite-only. Please come back
            when registration opens for everyone.</p>
        </div>
    }
</div>
