<!--
Copyright 2023 Logan Magee

SPDX-License-Identifier: AGPL-3.0-only
-->

<app-form-container>
    <div *ngIf="draft === undefined">
        <h2>New app</h2>
        <app-new-draft-editor (formSubmit)="uploadDraft($event)"/>
        <app-progress-indicator class="progress" [state]="loadingState" />
    </div>
    <div *ngIf="draft !== undefined">
        <app-submission-prompt [draft]="draft" (confirm)="submitDraft(draft)" (cancel)="exit()"></app-submission-prompt>
    </div>
</app-form-container>
