<!--
Copyright 2023-2024 Logan Magee

SPDX-License-Identifier: AGPL-3.0-only
-->

<mat-card>
    <mat-card-header>
        <mat-card-title>{{ draft.label }}</mat-card-title>
        <mat-card-subtitle>{{ draft.app_id }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <br>
        <h4>Draft info</h4>
        <ul>
            <li>Version: {{ draft.version_name }} ({{ draft.version_code }})</li>
            <li>Short description: {{ draft.short_description }}</li>
            <li>Status: {{ draft.status }}</li>
        </ul>
    </mat-card-content>
    <mat-card-actions align="end">
        @if (canDelete()) {
            <button (click)="onDelete()" mat-button color="warn">Delete</button>
        }
        <button
            (click)="onSubmitForReview()"
            [disabled]="draft.status !== draftStatusEnum.Unsubmitted"
            mat-flat-button
            color="primary">
            Submit for review
        </button>
    </mat-card-actions>
</mat-card>
