<!--
Copyright 2023-2024 Logan Magee

SPDX-License-Identifier: AGPL-3.0-only
-->

<mat-card>
    <mat-card-header>
        <mat-card-title>{{ update.app_id }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <br>
        <h4>Update info</h4>
        <ul>
            <li>Version name: {{ update.version_name }}</li>
            <li>Version code: {{ update.version_code }}</li>
        </ul>
    </mat-card-content>
    <mat-card-actions align="end">
        <a [href]="apkSetLink" mat-stroked-button>
            Download APK set
        </a>
        <button type="button" (click)="onPostReview()" mat-flat-button color="primary">
            Post review
        </button>
    </mat-card-actions>
</mat-card>
