/*
 * Copyright 2023-2024 Logan Magee
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

#create-card {
    cursor: pointer;
    width: fit-content;
}

mat-divider {
    margin-top: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.section-header {
    padding-top: 2rem;
}
