<div class="center">
	<div class="container" *ngIf="result === null; else badRequest">
		<mat-spinner></mat-spinner>
		<div class="spacer"></div>
		<h1>One moment...</h1>
	</div>
	<ng-template #badRequest>
		<div class="container" *ngIf="result === authResult.BAD_REQUEST; else notWhitelisted">
	        <h1>Invalid login</h1>

	        <p>This login attempt was rejected by the system. Try logging in again.</p>
		</div>
		<ng-template #notWhitelisted>
			<div class="container" *ngIf="result === authResult.NOT_WHITELISTED; else unknownError">
		        <h1>Registration not permitted</h1>

		        <p>Accrescent developer registration is currently invite-only. Please come back
		        when registration opens for everyone.</p>
			</div>

			<ng-template #unknownError>
				<div class="container">
			        <h1>Unknown error</h1>

			        <p>Please report this to the Accrescent maintainers.</p>
				</div>
			</ng-template>
		</ng-template>
	</ng-template>
</div>