<!--
Copyright 2023 Logan Magee

SPDX-License-Identifier: AGPL-3.0-only
-->

<app-form-container>
    <div *ngIf="error === null; else badRequest" class="col-center">
        <div class="spinner-container">       
			<mat-spinner></mat-spinner>
        </div>
    	<h2 class="orphan-header">One moment...</h2>
    </div>
	<ng-template #badRequest>
		<div *ngIf="error === authError.BAD_REQUEST; else notWhitelisted" class="col-start">
	    	<h2>Invalid login</h2>
			<p>This login attempt was rejected by the system. Try logging in again.</p>
			<a href="/login" mat-flat-button color="primary" class="btn">
				<span class="btn-text">Log in</span>
			</a>
		</div>

		<ng-template #notWhitelisted>
			<div *ngIf="error === authError.NOT_WHITELISTED; else unknownError" class="col-start">
	    		<h2>Registration not permitted</h2>
				<p>Accrescent developer registration is currently invite-only. Please come back
		        	   when registration opens for everyone.</p>
				<a href="/" mat-flat-button color="primary" class="btn">
					<span class="btn-text">Go back</span>
				</a>
			</div>

			<ng-template #unknownError>
				<div class="col-start">
					<h2>Unknown error</h2>
			        <p>Please report this to the Accrescent maintainers.</p>        
					<a href="https://github.com/Accrescent/parcelo/issues" mat-flat-button color="primary" class="btn">
						<span class="btn-text">Report issue</span>
					</a>
				</div>
			</ng-template>
		</ng-template>
	</ng-template>
</app-form-container>