/*
 * Copyright 2023 Logan Magee
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-start {
    @extend .col;
    align-items: start;
}

.col-center {
    @extend .col;
    align-items: center;
}

.btn {
    align-self: flex-end;
}

.spinner-container {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.orphan-header {
    margin-bottom: 0;
}