<!--
Copyright 2023 Logan Magee

SPDX-License-Identifier: AGPL-3.0-only
-->

<mat-card>
    <mat-card-header>
        <mat-card-title>{{ update.version_name }}</mat-card-title>
        <mat-card-subtitle>{{ update.id }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <br>
        <h4>Update info</h4>
        <ul>
            <li>Version code: {{ update.version_code }}</li>
            <li>Requires review: {{ update.requires_review }}</li>
            <li>Status: {{ update.status }}</li>
        </ul>
    </mat-card-content>
    <mat-card-actions align="end">
        <button *ngIf="canDelete()" (click)="onDelete()" mat-button color="warn">Delete</button>
        <button
            (click)="onSubmitForReview()"
            [disabled]="update.status !== updateStatusEnum.Unsubmitted"
            mat-flat-button
            color="primary">
            Submit for review
        </button>
    </mat-card-actions>
</mat-card>
