/*
 * Copyright 2023-2024 Logan Magee
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.section-header {
    padding-top: 2rem;
}
