<!--
Copyright 2023-2024 Logan Magee

SPDX-License-Identifier: AGPL-3.0-only
-->

<h2>Drafts</h2>
<div class="grid-container">
    @for (draft of drafts; track draft) {
        <app-reviewer-draft-card [draft]="draft" (postReview)="openDraftReviewDialog($event)"/>
    } @empty {
        <p>No drafts to review</p>
    }
</div>

<h2 class="section-header">Edits</h2>
<div class="grid-container">
    @for (edit of edits; track edit) {
        <app-reviewer-edit-card [edit]="edit" (postReview)="openEditReviewDialog($event)"/>
    } @empty {
        <p>No edits to review</p>
    }
</div>

<h2 class="section-header">Updates</h2>
<div class="grid-container">
    @for (update of updates; track update) {
        <app-reviewer-update-card [update]="update" (postReview)="openUpdateReviewDialog($event)"/>
    } @empty {
        <p>No updates to review</p>
    }
</div>
