.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    width: 100%;
    margin-bottom: 12px;
}

a {
    color: inherit;
}

strong {
    font-weight: 500;
}

.upload {
    flex-shrink: 0;
}

.upload-status {
    margin-left: 1em;
}

.upload-button {
    display: block;
}

input[type="file"] {
    display: none;
}

.dont-confirm-button {
    margin-left: 1em;
}