<div class="center">
	<mat-card>
		<form *ngIf="draft === undefined" [formGroup]="uploadForm" (ngSubmit)="onUpload()">
			<mat-card-header>
				<mat-card-title>App upload</mat-card-title>
			</mat-card-header>
			<mat-card-content>
			    <mat-form-field appearance="outline">
			        <mat-label>App Name</mat-label>
			        <input id="label" #labelinput type="text" formControlName="label" matInput>
			        <mat-error *ngIf="label.invalid">{{getLabelErrorMessage()}}</mat-error>
			    </mat-form-field>
			    <input id="icon" #iconinput type="file" accept="image/png" formControlName="icon">
			    <button
			    	class="upload-button"
			        type="button"
			        mat-flat-button
			        (click)="iconinput.click()">
			        Select app icon
			    </button>
			    <h5>Icon must be a 512 x 512 PNG</h5>
			    <p>{{ uploadForm.value.icon?.replace("C:\\fakepath\\", "") }}</p>
			    <input id="app" #appinput type="file" accept=".apks" formControlName="app">
			    <button
			    	class="upload-button"
			        type="button"
			        mat-flat-button
			        (click)="appinput.click()">
			        Select APK set
			    </button>
			    <h5>APK set must comply with <a href="https://accrescent.app/docs/guide/publish/requirements.html">App Requirements</a></h5>
			    <p>{{ uploadForm.value.app?.replace("C:\\fakepath\\", "") }}</p>
			</mat-card-content>
			<mat-card-actions>
			    <button
			    	class="upload"
			        type="submit"
			        [disabled]="uploadForm.invalid"
			        mat-flat-button
			        color="primary">
			        Upload
			    </button>
			    <mat-progress-bar class="upload-status" *ngIf="uploadProgress !== 0" [value]="uploadProgress">
			    </mat-progress-bar>
			    <mat-error class="upload-status" *ngIf="error !== undefined" [matTooltip]="error.message">{{ error.title }}</mat-error>
			</mat-card-actions>
		</form>	
		<div *ngIf="draft !== undefined">
			<mat-card-header>
				<mat-card-title>App submitted!</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<p>Your app has been placed in the review queue. Please give 2-4 days for the app be approved and published.</p>
				<p><strong>Name</strong>: {{ draft.label }}</p>
				<p><strong>ID</strong>: {{ draft.app_id }}</p>
				<p><strong>Version</strong>: {{ draft.version_name }} ({{ draft.version_code }})</p>
			</mat-card-content>
			<mat-card-actions>
		        <a href="/" mat-flat-button color="primary" class="btn">
		            <span class="btn-text">Go back</span>
		    	</a>
			</mat-card-actions>
		</div>
	</mat-card>
</div>
