.center {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    width: 32em;
    background-color: #1f1f1f;
    border-radius: 32px;
}

mat-card-header {
    padding: 32px 32px 0px 32px;
}

mat-card-content, mat-card-content:last-child {
    padding: 16px 32px 0px 32px;
}

mat-card-actions {
    padding: 16px 32px 32px 32px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 12px;
}

a {
    color: inherit;
}

strong {
    font-weight: 500;
}

.upload {
    flex-shrink: 0;
}

.upload-status {
    margin-left: 1em;
}

.upload-button {
    display: block;
}

input[type="file"] {
    display: none;
}

.dont-confirm-button {
    margin-left: 1em;
}