<!--
Copyright 2023-2024 Logan Magee

SPDX-License-Identifier: AGPL-3.0-only
-->

<h1 mat-dialog-title>Submit edit for review?</h1>
<mat-dialog-content>
    <h2>Edit info for {{ data.app.label }}</h2>
    <ul>
        <li *ngIf="data.edit.short_description">
            Current short description: {{ data.app.short_description || "(none)" }}
        </li>
        <li *ngIf="data.edit.short_description">
            New short description: {{ data.edit.short_description }}
        </li>
    </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false">Maybe later</button>
    <button mat-flat-button [mat-dialog-close]="true" color="primary" cdkFocusInitial>Yes</button>
</mat-dialog-actions>
