.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card {
    background-color: #1f1f1f;
    border-radius: 32px;
    padding: 2.2em 3.5em 3em 3.5em;
}

mat-card-header, mat-card-content, mat-card-actions {
    justify-content: center;
}
