<div class="center">
    <mat-card>
        <mat-card-header>
            <mat-card-title>We don't quite know what you're looking for.</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>You can try checking the URL, or you can go back to the homepage.</p>
        </mat-card-content>
        <mat-card-actions>
            <a href="/" mat-flat-button color="primary">
                <span class="btn-text">Go back</span>
            </a>
        </mat-card-actions>
    </mat-card>
</div>
