/*
 * Copyright 2023 Logan Magee
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.btn {
    align-self: flex-end;
}