# Copyright 2023 Logan Magee
#
# SPDX-License-Identifier: AGPL-3.0-only

name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
      - uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: gradle/gradle-build-action@v2
      - run: ./gradlew ci
