# Copyright 2023 Logan Magee
#
# SPDX-License-Identifier: AGPL-3.0-only

name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
      - uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: gradle/gradle-build-action@v3
      - run: ./gradlew build
      - run: npm install -g @angular/cli && npm ci && ng build
        working-directory: ./frontend
      - run: ng lint
        working-directory: ./frontend
