/*
 * Copyright 2023-2024 Logan Magee
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */

a {
    color: inherit;
}

input[type="file"] {
    display: none;
}

mat-card {
    min-width: 24em;
    width: fit-content;
}

mat-card-actions {
    padding: 1.1em 2em 1.6em 2em;
}

mat-card-content {
    padding: 1.1em 2em 0 2em;
}

mat-card-header {
    padding: 1.6em 2em 0 2em;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.btn {
    align-self: flex-start;
    margin-top: 16px;
    margin-bottom: 16px;
}

.no-spacing {
    margin-bottom: 0;
}
