.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    border-radius: 50%;
    margin-bottom: 16px;
}

.btn {
    padding: 24px 14px 24px 14px;
}

.icon {
    padding-right: 14px;
}

.row {
    display: flex;
    align-items: center;
}
