<!--
Copyright 2023 Logan Magee

SPDX-License-Identifier: AGPL-3.0-only
-->

<mat-card>
    <form [formGroup]="form" (ngSubmit)="emitForm()">
        <mat-card-header>
            <mat-card-title>New update</mat-card-title>
        </mat-card-header>

        <mat-card-content class="col">
            <h3 class="no-spacing">APK set</h3>
            <h5>Must comply with <a href="https://accrescent.app/docs/guide/publish/requirements.html">app requirements</a></h5>
            <input id="apkset" #apksetinput type="file" accept=".apks" formControlName="apkSet">
            <p class="no-spacing" *ngIf="form.value.apkSet else noApkSet">
                {{ form.value.apkSet!!.replace('C:\\fakepath\\', '') }}
            </p>
            <ng-template #noApkSet>
                <i>No APK set selected</i>
            </ng-template>
            <button
                type="button"
                mat-flat-button
                color="primary"
                (click)="apksetinput.click()"
                class="btn">
                Select
            </button>

            <ng-content/>
        </mat-card-content>

        <mat-card-actions align="end">
            <button
                type="submit"
                [disabled]="form.invalid || submitDisabled"
                mat-flat-button
                color="primary">
                Upload
            </button>
        </mat-card-actions>
    </form>
</mat-card>
